@{
    ViewData["Title"] = "Alterar Administrador";
}


@model SignPC.Entities.UsuarioConta

<form asp-controller="Conta" asp-action="Alterar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id">  
    <div class="mb-3 col-md">
        <label for="Nome" class="form-label">Nome do Admistrador</label>
        <input type="text" asp-for="Nome" class="form-control"  placeholder="Nome completo"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3 col-md">
        <label for="Email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Ex: abc@xmail.com"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3 col-md">
        <label for="Senha" class="form-label">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Crie uma senha"/>
        <span asp-validation-for="Senha" class="text-danger"></span>   
    </div>
    <div class="card-footer">
        <center>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a asp-action="Index" asp-controller="Conta" class="btn btn-secondary">Cancelar</a>
        </center>
    </div>
</form>