@{
    ViewData["Title"] = "Apagar de Equipa";
}


@model SignPC.Models.Equipamento


<form asp-controller="Equipamento" asp-action="Deletar" method="post">
<input type="hidden" asp-for="Id">  
<div class="mb-3 col-md">
        <input type="text" disabled asp-for="NomeEquipamento" class="form-control"/>
    </div>
 <div class="mb-3 col-md">
        <input type="text" disabled asp-for="Tipo" class="form-control"/>
    </div>
    <div class="mb-3 col-md">
        <input type="text" disabled asp-for="Descricao" class="form-control"/>
    </div>
    <div class="mb-3 col-md">
        <select asp-for="Estado" disabled class="form-control">
            <option value="">Selecione</option>
            <option value="1">Disponível</option>
            <option value="2">Indisponível</option>
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <div class="card-footer">
        <center>
            <button type="submit" class="btn btn-danger">Apagar</button>
            <a asp-action="Index" asp-controller="Equipamento" class="btn btn-secondary">Cancelar</a>
        </center>
    </div>
</form>